@font-face {
    font-family: 'Helvetica Rounded', sans-serif;
    src: url("fonts/helvetica-rounded-bold.otf");
}

/* font-family: 'Helvetica Rounded'; */

/* START DOCUMENT INTERACTION DESIGN */

* {
    overflow-x: hidden;
    cursor: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

::-webkit-any-link:hover,
::-webkit-any-link:active {
    cursor: none;
}

html, body {
    background-color: #121619;
}

img { 
    -webkit-user-drag: none; 
    -khtml-user-drag: none;
    -moz-user-drag: none; 
    -o-user-drag: none;
  }

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

/* END DOCUMENT INTERACTION DESIGN */

/* START CURSOR DESIGN */

.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: white;
    z-index: 10000;
    border: 2px solid white;
    height: 30px;
    width: 30px;
    transition: all 300ms ease-out;
}

/* END CURSOR DESIGN */

/* START SCROLLBAR DESIGN */

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #ca973d;
}

::-webkit-scrollbar-thumb:hover {
    background: #be821b;
}

/* END SCROLLBAR DESIGN */

/* START MAIN SECTION */

.main-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

h1, a {
    font-family: 'Helvetica Rounded';
    color: #ede9e6;
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    animation: 2s ease 0s normal forwards 1 fadein;
    text-align: center;
    font-size: 3vh;
    cursor: none;
}

.orange-text {
    color: #ffbe4a;
}

.pink-text {
    color: #ff6584;
}

.logo {
    width: 25%;
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    -webkit-animation: 1.5s ease 0s normal forwards 1 fadein;
    animation: 1.5s ease 0s normal forwards 1 fadein;
}

.scroll-down-cta {
    font-family: 'Helvetica Rounded';
    color: #ede9e6;
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    animation: 2s ease 0s normal forwards 1 fadein;
    text-align: left;
    position: absolute;
    left: 90%;
    top: 90%;
    font-size: 1.7vh;
}

.scroll-arrow-icon {
    -webkit-animation: 2s ease 0s normal forwards 1 fadein,
                       3s ease-in-out infinite float;
    animation: 2s ease 0s normal forwards 1 fadein,
               3s ease-in-out infinite float;
    text-align: left;
    position: absolute;
    left: 89.1%;
    top: 91.7%;
    height: 1.1vh;
    filter: invert(100%);
    transform: translatey(0px) rotate(180deg);
}

@keyframes float {
	0% {
		transform: translatey(10px) rotate(180deg);
	}
	50% {
		transform: translatey(-5px) rotate(180deg);
	}
	100% {
		transform: translatey(10px) rotate(180deg);
	}
}

@keyframes fadein{
    0% { opacity:0; }
    33% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    33% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

/* END MAIN SECTION */

/* START NAV SECTION */

.nav-section {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
}

.nav-text {
    color: #121619;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 30vh;
    margin: 0;
    transition: color 0.5s ease;
}

.nav-text:hover {
    color: #ede9e6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ede9e6;
}

.portfolio {
    text-align: left;
}

.about-me {
    text-align: right;
    margin-left: 26.3%;
}

.contact {
    text-align: left;
}

/* END NAV SECTION */

/* START FOOTER SECTION */

.footer-section {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 225%;
    left: 0px;
    margin-top: 3.3%;
    -webkit-animation: 4s ease 0s normal forwards 1 fadein;
    animation: 4s ease 0s normal forwards 1 fadein;
}

.footer-text {
    font-size: 1.9vh;
}

.icon {
    width: 2%;
    margin: 1%;
    filter: drop-shadow(0);
}

.behance {
    margin-left: 42.8vw;
}

/* END FOOTER SECTION */